<div class="container">
  <%= render 'geo_search' %>
  <% if @search %>
    <div class="row">
      <div class="col-md-12">
        <h1>Search results for "<%= @search %>" with <%= @pets_count %> results</h1>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <h1>Found <%= pluralize(@pets_count, 'pet') %> matching your search</h1>
      </div>
    </div>
  <% end %>

  <div class="col-md-12">
    <center>
      <%= paginate @pets, theme: 'twitter-bootstrap-3' %>
    </center>
  </div>

  <%= render 'pets/pets_list', pets: @pets.limit(12), filter: @filter %>

  <div class="col-md-12">
    <center>
      <%= paginate @pets, theme: 'twitter-bootstrap-3' %>
    </center>
  </div>
</div>
