<div class="container">

  <form method="get">

    <div class="form-group">
      <div class="form-group">
        <label for="city">City</label>
        <select name="distance_from" class="form-control" id="city">
          <option>Any</option>
          <% BIGGEST_CITIES.each do |city| %>
            <option value="<%= city[:name] %>" <% if city[:name] == @search_form[:distance_from] %>selected<% end %>><%= city[:name] %></option>
          <% end %>
        </select>
        <input type="number" class="form-control" id="distance" name="distance" value="<%= @search_form[:distance] %>" placeholder="Distance (km)" min="5" max="20">
      </div>
      <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary">
      </div>
    </div>
  </form>
  <% if @search %>
    <div class="row">
      <div class="col-md-12">
        <h1>Search results for "<%= @search %>" with <%= @pets_count %> results</h1>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <h1>Found <%= pluralize(@pets_count, 'pet') %> matching your search</h1>
      </div>
    </div>
  <% end %>

  <div class="col-md-12">
    <center>
      <%= paginate @pets, theme: 'twitter-bootstrap-3' %>
    </center>
  </div>

  <%= render 'pets/pets_list', pets: @pets.limit(12), filter: @filter %>

  <div class="col-md-12">
    <center>
      <%= paginate @pets, theme: 'twitter-bootstrap-3' %>
    </center>
  </div>
</div>
