<% unless Rails.application.database_is_not_empty %>
  <div class="container">
    <div class="modal" id="database_is_not_empty_modal" data-backdrop="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Welcome to the "Adopter" workshop project!</h3>
          </div>
          <div class="modal-body">
            <center>
              <h4>
                Seems like you have empty database. Please choose a data_generation_loop_size and click "Generate data"
                button.
              </h4>
              <%= form_with(url: "/workshop/generate_data", method: :post) do |f| %>
                <div class="form-group">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <%= label_tag nil, class: "btn btn-danger", for: :data_generation_loop_size do %>
                      <%= f.radio_button :data_generation_loop_size, 100, autocomplete: "off", required: true %>
                      Big - 1 000 000 pets
                    <% end %>
                    <%= label_tag nil, class: "btn btn-primary", for: :data_generation_loop_size do %>
                      <%= f.radio_button :data_generation_loop_size, 10, autocomplete: "off", required: true %>
                      Medium - 100 000 pets
                    <% end %>
                    <%= label_tag nil, class: "btn btn-default", for: :data_generation_loop_size do %>
                      <%= f.radio_button :data_generation_loop_size, 1, autocomplete: "off", required: true %>
                      Small - 10 000 pets
                    <% end %>
                  </div>
                </div>
                <br>
                <br>

                <%= f.submit "Generate data", class: "btn btn-success" %>
              <% end %>
            </center>


          </div>
        </div>
      </div>
    </div>
    <script>
      $('#database_is_not_empty_modal').modal('show');
    </script>
  </div>
<% end %>
